name: CI

on:
    pull_request:
    push:
        branches:
        - main

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.7
        - 3.9
    name: Check Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Only needed if using setuptools-scm

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependences
      run: |
          python -m pip install --upgrade pip
          python -m pip install flit pytest numpy h5py

    - name: Build hepfile
      run: flit install 

    - name: Test package
      run: python -m pytest

  update-readme:
    runs-on: ubuntu-latest
    - name: dynamic pylint badge
      uses: Silleellie/pylint-github-action@v1
      with:
	package-path: src/hepfile
	python-version: 3.11
    	requirements-path: .binder/requirements.txt
	readme-path: README.md