name: CI

on:
    pull_request:
    push:
        branches:
        - main

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.7
        - 3.9
    name: Check Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Only needed if using setuptools-scm

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependences
      run: |
          python -m pip install --upgrade pip
          python -m pip install flit pytest-cov numpy h5py

    - name: Build hepfile
      run: flit install 

    - name: Test package
      run: python -m pytest --cov=src.hepfile --cov-report=xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env: 
        CODECOV_TOKEN: ${{ secrets.CodeCov }}
